:root {
  --font-stack: Barlow, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: var(--font-stack);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --c-red: #e4022e;
  --c-blue: #00a3df;
  --c-purple: #832c87;
  --c-yellow: #f59c00;
  --c-orange: #ee7006;
  --c-green: #95c21f;
  --c-white: #ffffff;

  --c-background: #242424;
  --c-foreground: var(--c-white);

  background-color: var(--c-background);
  color: var(--c-foreground);
}

.light {
  --c-background: var(--c-white);
  --c-foreground: #000000;
}

a {
  background-color: var(--color);
  color: var(--c-white);
  text-transform: uppercase;
  text-align: center;
  border-radius: 0.5rem;
  border: 0.1rem solid transparent;
  text-decoration: inherit;
  transition: all 100ms ease-in-out;
  padding: 0.5rem;
}

a:hover {
  border-color: var(--c-foreground);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--c-background);
  color: var(--c-foreground);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s ease, scale 0.25s ease;
  
}
button:hover {
  scale: 1.05;
}
button:active{
  scale: 0.95;
}


.highlight {
  color: var(--color);
}

* {
  box-sizing: border-box;
}
